.ct-top, gradiente{
	position: fixed;
	float: left;
	width: 100%;
	height: 190px;
	
	background: #7dce21;
	background: -moz-linear-gradient(left, #7dce21 1%, #24c1c1 20%, #1e5799 94%);
	background: -webkit-linear-gradient(left, #7dce21 1%, #24c1c1 20%, #1e5799 94%);
	background: linear-gradient(to right, #7dce21 1%, #24c1c1 20%, #1e5799 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dce21',
		endColorstr='#1e5799', GradientType=1);
}


.calendario-data {
	float: left;
	margin-top: 15%;
	
}

.calendario-data span, .relogio-hora span {
	margin-top: 20px;
	color: #808080;
	font-weight: 300;
	font-size: large;
	
}

.relogio-hora {
	float: left;
	margin-top: 15%;
}

.aling-data{
	margin-left: -10%;
}

.ui-clock {
	background-color: #fff !important;
	border: none !important;
}

.img-header-top {
	position: relative;
	padding-top: 15px;
}


.img-inside-box {
	position: absolute;
	left: 30%;
	top: 15%;
	z-index: -1;
}

.img-logo{
	margin-top: 13%;
	margin-left: -15%;
}

.img-car{
	margin-top: 5%;
	margin-left: -15%;
}

.time-size{
	width: 30px;
	height: 30px;
}

.contentText{
	margin-left: 38%;
	margin-top: 35%;
	color: #606060;
	font-size: 20px;
	z-index: 1;
}

.color-car{
	color: #44AA00;
	border-color: #44AA00;
}

.color-service{
	color: #004E9E;
	border-color: #004E9E;
}

.color-part{
	color: #377EF0;
	border-color: #377EF0;
}

.date-time-icon {
	height: 20px;
	width: 20px;
}

.hora {
	width: 95px
}

.rodape {
	position: fixed;
	width: 100%;
	height:5%;
	background-color:#201B55;
	bottom: 0px;
	text-align: center;
	color: white;
}

.contentContainer{
	position: absolute;
	width: 100%;
	margin-left: 3%;
	margin-top: 1%;
}

.topperBackground{
	width: 100%;
	height: 114px;
	
	background: #7dce21;
	background: -moz-linear-gradient(left, #7dce21 1%, #24c1c1 20%, #1e5799 94%);
	background: -webkit-linear-gradient(left, #7dce21 1%, #24c1c1 20%, #1e5799 94%);
	background: linear-gradient(to right, #7dce21 1%, #24c1c1 20%, #1e5799 94%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dce21',
		endColorstr='#1e5799', GradientType=1);
}


.headerBackgound{
	position: absolute;
	top: 6px;
	width: 100%;
	height: 114px;
	background: white;
}

.containerMain{
	margin-top: -2%;
	width: 100%;
	margin-left: 3%
}

.posicaoHeader{
	position: fixed;
	width: 100%;
}

.contentBoxCar{
	border: 2px solid;
	position: relative;
	width: 250px;
	height: 150px;
}


.contentBoxService{
	border: 2px solid;
	position: relative;
	width: 250px;
	height: 150px;
}


.contentBoxPart{
	border: 2px solid;
	position: relative;
	width: 250px;
	height: 150px;
}

.containerPage{
	width: 70%;
	height: 10%;
	margin-top: 20%;
	margin-left: 15%	
}

/*NAV BAR*/

.navbar-default{
	background: #7dce21 !important;
	background: -moz-linear-gradient(left, #7dce21 1%, #24c1c1 20%, #1e5799 94%) !important;
	background: -webkit-linear-gradient(left, #7dce21 1%, #24c1c1 20%, #1e5799 94%) !important;
	background: linear-gradient(to right, #7dce21 1%, #24c1c1 20%, #1e5799 94%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dce21',
		endColorstr='#1e5799', GradientType=1) !important;
}

.navbar-default .navbar-brand {
	color: #777
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
	{
	color: #5e5e5e;
	background-color: transparent
}

.navbar-default .navbar-text {
	color: #777
}

.navbar-default .navbar-nav>li>a {
	color: white !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #333;
	background-color: transparent
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	background-color: #e7e7e7
}

.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:focus,
	.navbar-default .navbar-nav>.disabled>a:hover {
	color: #ccc;
	background-color: transparent
}

.navbar-default .navbar-toggle {
	border-color: #ddd
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	{
	background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #555;
	background-color: #e7e7e7
}